body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
/* HEADER STYLE*/
header {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #123;
  color: white; /* text color in header*/
  min-height: 10vh;
  padding: 0px;
}
.header-right {
          float:right;
          display:flex;
        align-items:top;
          
  				}
.header-right p{
          position: absolute;
          top: 0;
          right: 0;
          
          font-size: 14px;
          text-align: right;
          padding: 20px;
          color: white;
  				}

/* NAVIGATION BAR*/
/* Định dạng thanh điều hướng */
.navbar {
   background-color: darkblue; /* Màu nền */
   
   height: 50px;
   width: 100%;
   overflow: hidden;
}
/* Định dạng các liên kết trong thanh điều hướng */
.navbar a {
   align-items: center;
   align-items: middle;
   float: left; /* Đặt liên kết vào một hàng ngang */
   display: block; /* Hiển thị là khối để có thể định dạng */
   height:12px;
   /*align: middle;*/
   color: white; /* Màu chữ */
   text-align: center; /* Canh giữa văn bản */
   padding: 12px 14px; /* Khoảng cách giữa các liên kết */
   text-decoration: none; /* Loại bỏ gạch dưới liên kết */
}
/* Định dạng khi rê chuột qua liên kết */
.navbar a:hover {
   background-color: #555; /* Màu nền khi rê chuột qua */
}
/* Định dạng khi trạng thái được chọn */
.navbar a.active {
   background-color: #4CAF50; /* Màu nền khi được chọn */
   align-items: center;
   align-items: middle;
   color: white; /* Màu chữ khi được chọn */
}
/* SCROLLING TEXT */

.scroll-left {
 height: 50px;	
 overflow: hidden;
 /*position: relative; /* vị trí */
 position: middle; /* vị trí */
 background: blue; /* màu nền*/
 color: yellow; /* màu chữ*/
 /*border: 2px solid orange;*/
 
}
.scroll-left p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 font-style: italic;
 /* Starting position */
 /*-moz-transform:translateX(100%); /* mozila firefox*/
 -webkit-transform:translateX(100%);	/* chrome & safari*/
 transform:translateX(100%);
 /* Apply animation to this element */	
 /*-moz-animation: scroll-left 15s linear infinite;*/
 -webkit-animation: scroll-left 15s linear infinite;
 animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
/*@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(0%); }
 100% { -moz-transform: translateX(-100%); }
}*/
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 /*-moz-transform: translateX(0%); /* Browser bug fix */
 -webkit-transform: translateX(-10%); /* Browser bug fix */
 transform: translateX(-10%); 		
 }
 100% { 
 /*-moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
/* SCOLLING ITEM */
#container {
    width: 100%;
    height: 2.5rem;  /* tỉ lệ với pixel gốc */
    font-family: Montserrat;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    background: #000;
    color: #fff;
}
#container .scroll {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: loop 30s linear infinite;
}
.fade {
    width: 100%;
    position: absolute;
    background: linear-gradient(
        90deg,
        #000,
        transparent 30%,
        transparent 90%,
        #000
    );
    inset: 0;
    pointer-event: none;
}
@keyframes loop {
    0% {transform: translateX(100%);
        -webkit-transform: translateX(100%);}
   
    100% {transform: translateX(-100%);
          -webkit-transform: translateX(-100%);}

 
}
.item {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    /*color: #e2e8f0;*/
    color: yellow;
    font-size: .9rem;
    /*background-color: #152c41;*/
    background-color: transparent;
    padding: 0.7rem 1rem;
    margin: 0rem 1rem;
    border-radius: 0.4rem;
    white-space: nowrap;
    box-shadow:
    0 0.1rem 0.2rem #00000033,
    0 0.1rem 0.5rem #0000004d,
    0 0.2rem 01.5rem #00000066,
}




/* TABLE STYLES */
/* Let's target the main <table> element first*/
.styled-table {
    border-collapse: collapse;/* border-collapse to ensure there is no space between the cell borders*/
    margin: 25px 0;
    margin-bottom:1rem;
    font-size: 0.9em;
    font-family: sans-serif;
    width:100%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);/* add a subtle transparent shadow around the table*/
    background-color:transparent
}

 

 .styled-table tbody+tbody{border-top:2px solid #dee2e6}.styled-table .styled-table{background-color:#fff}
 .styled-table-sm td,.styled-table-sm th{padding:.3rem}
 .styled-table-bordered{border:1px solid #dee2e6}
 .styled-table-bordered td,.styled-table-bordered th{border:1px solid #dee2e6}
 .styled-table-bordered thead td,.styled-table-bordered thead th{border-bottom-width:2px}
 .styled-table-borderless tbody+tbody,.styled-table-borderless td,.styled-table-borderless th,.styled-table-borderless thead th{border:0}
 .styled-table-striped tbody tr:nth-of-type(odd){background-color:rgba(0,0,0,.05)}
 .styled-table-hover tbody tr:hover{background-color:rgba(0,0,0,.075)}

/* Styling the header
For the header, we can simply change the background color and apply some basic styles to the text: */

.styled-table thead th{align:center; vertical-align:middle;border-bottom:2px solid black}
.styled-table thead tr {background-color: #009879;text-align: center;font-weight: bold;color: #ffffff;border-bottom:2px solid black}

/*Moving onto the table cells
Let's space things out a bit: */
/*.styled-table th,.styled-table td {padding: 12px 15px;}*/
.styled-table td,.styled-table th{padding:.75rem;vertical-align:top;border-top:2px solid black}

/* And the table rows...
For these, we want to do 3 things:

Add a bottom border to each row for separation
Add a lighter background to every second row to help readability
Add a dark border to the very last row to signify the end of the table */
.styled-table tbody tr {border-bottom: 2px solid orange;}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
/* Lastly, let's make the active row look different
For this, we're just going to make changes to the text: */

/* styled-table PRIMARY*/
 .styled-table-primary,.styled-table-primary>td,.styled-table-primary>th{background-color:#b8daff}
 .styled-table-hover .styled-table-primary:hover{background-color:#9fcdff}
 .styled-table-hover .styled-table-primary:hover>td,.styled-table-hover .styled-table-primary:hover>th{background-color:#9fcdff}
 /* styled-table SECONDARy*/
 .styled-table-secondary,.styled-table-secondary>td,.styled-table-secondary>th{background-color:#d6d8db}
 .styled-table-hover .styled-table-secondary:hover{background-color:#c8cbcf}
 .styled-table-hover .styled-table-secondary:hover>td,.styled-table-hover .styled-table-secondary:hover>th{background-color:#c8cbcf}
 /* styled-table SUCCESS*/
 .styled-table-success,.styled-table-success>td,.styled-table-success>th{background-color:#c3e6cb}
 .styled-table-hover .styled-table-success:hover{background-color:#b1dfbb}
 .styled-table-hover .styled-table-success:hover>td,.styled-table-hover .styled-table-success:hover>th{background-color:#b1dfbb}
 /* styled-table INFO*/
 .styled-table-info,.styled-table-info>td,.styled-table-info>th{background-color:#bee5eb}
 .styled-table-hover .styled-table-info:hover{background-color:#abdde5}
 .styled-table-hover .styled-table-info:hover>td,.styled-table-hover .styled-table-info:hover>th{background-color:#abdde5}
 /* styled-table WARNING*/
 .styled-table-warning,.styled-table-warning>td,.styled-table-warning>th{background-color:yellow; color: black;}
 .styled-table-hover .styled-table-warning:hover{background-color:yellow}
 .styled-table-hover .styled-table-warning:hover>td,.styled-table-hover .styled-table-warning:hover>th{background-color:yellow}
 /* styled-table DANGER */
 .styled-table-danger,.styled-table-danger>td,.styled-table-danger>th{background-color:red; color: white;}
 .styled-table-hover .styled-table-danger:hover{background-color:red}
 .styled-table-hover .styled-table-danger:hover>td,
 .styled-table-hover .styled-table-danger:hover>th{background-color:red}
 /* styled-table LIGHT*/
 .styled-table-light,.styled-table-light>td,.styled-table-light>th{background-color:#fdfdfe}
 .styled-table-hover .styled-table-light:hover{background-color:#ececf6}
 .styled-table-hover .styled-table-light:hover>td,.styled-table-hover .styled-table-light:hover>th{background-color:#ececf6}
 /* styled-table DARK*/
 .styled-table-dark,.styled-table-dark>td,.styled-table-dark>th{background-color:#c6c8ca}
 .styled-table-hover .styled-table-dark:hover{background-color:#b9bbbe}
 .styled-table-hover .styled-table-dark:hover>td,.styled-table-hover .styled-table-dark:hover>th{background-color:#b9bbbe}
 /* styled-table ACTIVE */
 .styled-table-active,.styled-table-active>td,.styled-table-active>th{background-color:rgba(0,0,0,.075)}
 .styled-table-hover .styled-table-active:hover{background-color:rgba(0,0,0,.075)}
 .styled-table-hover .styled-table-active:hover>td,.styled-table-hover .styled-table-active:hover>th{background-color:rgba(0,0,0,.075)}
 .styled-table .thead-dark th{color:#fff;background-color:#212529;border-color:#32383e}
 .styled-table .thead-light th{color:#495057;background-color:#e9ecef;border-color:#dee2e6}
 /* styled-table DARK*/
 .styled-table-dark{color:#fff;background-color:#212529}
 .styled-table-dark td,.styled-table-dark th,.styled-table-dark thead th{border-color:#32383e}
 .styled-table-dark.styled-table-bordered{border:0}
 .styled-table-dark.styled-table-striped tbody tr:nth-of-type(odd){background-color:rgba(255,255,255,.05)}
 .styled-table-dark.styled-table-hover tbody tr:hover{background-color:rgba(255,255,255,.075)}
/* ALIGN CENTER*/
.center {
  margin-left: auto;
  margin-right: auto;
}

/* CUSTOM TABLE */

