.header {
        height:150px;
         width:100%;      

        /* màu chữ */
        color: white; 
        /* màu nền*/
        background-color:#00203FFF; /* xanh navy: #00203FFF*/
        /* Ghim header*/
        position: sticky; 
        top: 0;
        }
.header-label-clock{
            height:14px;
            position: absolute;
            top: 0px;
            right: 10px;
            }
.header-label-clock p{
          font-size: 14px;
          text-align: right;
          background-color:transparent; 
          padding: 0px;
          color: white;
}
